body {
  padding: 20px;
}

.App {
  margin: 0 auto; /*400px을 설정하고 남은 나머지 부분을 margin을 준다.*/
  width: 400px;
}

.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid reg(240, 240, 240);
  border-radius: 5px;
  padding: 20px; /*내부 여백*/
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
